.cadastro {
    padding: 20px; 
    text-align: center; 
}

.cadastro h2 {
    font-size: 24px; 
    margin-bottom: 20px;
}

.cadastro form {
    max-width: 400px; 
    margin: 0 auto;
    text-align: left;
}

.cadastro label {
    font-size: 16px;
    display: block; 
    margin-bottom: 5px; 
}

.cadastro input {
    width: 100%; 
    padding: 10px;
    margin-bottom: 15px; 
    font-size: 16px; 
    border: 1px solid #ccc; 
    border-radius: 5px;
}

.formulario-contato button {
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer; 
}

.cadastro button:hover {
    background-color: #45a049; 
}

@media (max-width: 574px) {
    .cadastro input {
        width: 90%; 
}
}