header {
    /* max-width: 1200px; */
    justify-content: space-between;
    align-items: center;
    margin: auto;
    display: flex;
    height: 103px;
    background-color: #4CAF50;
}

header h3 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 60px;
}

header .con{
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 50px;
    }

header .con a {
        text-decoration: none;
        color: white;
    }

@media(max-width: 574px) {

    header {
        height: 70px;
    }
    
    header h3{
        padding-left: 10px;
    }

    header .con {
        padding-right: 30px;
    }
       
    }

